.display{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #242424;
    border: 1px solid gray;
    font-size: 20px;
}

p{
    color: white;
}