.clear{
    width: 75%;
}
.clear-btn{
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    font-size: 20px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
}

.op-button{
    background-color: #b60808;
    border: 1px solid gray;
}

.zero{
    width:75%;
    
}

.zero-btn{
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  font-size: 20px;

}

