.clear{
    width: 75%;
}
.clear-btn{
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    font-size: 20px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
}

.op-btn{
    background-color: #b60808;
    border: 1px solid gray;
}

.top-row{
    width: 75%;
    
}
.top-row-btn{
    width:33.3%;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
}

.middle-row{
    width: 75%;
    
}
.middle-row-btn{
    width: 33.33%;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
}

.bottom-row{
    width: 75%;
    
}
.bottom-row-btn{
    width: 33.3%;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid gray;
}

.zero{
    width:75%;
    
}

.zero-btn{
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  font-size: 20px;

}

